<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<dom-module id="carrousel-element">
  <template>
    <style>
      section {
        display: inline-block;
        text-align: center;
        height:20%;
        width: 20%;
      }
      paper-card {
        display: inline-block;
        height: 80px;
        max-width:400px
        padding: 50px;
        width: 40%;
      }
      img {
        height: 50%;
        width: 50%
      }
      paper-icon-button {
        color: black;
        bottom: 40px;
      }
    </style>
      <section>
        <paper-icon-button icon="arrow-back" on-click="_changeModalLeft"></paper-icon-button>
        <paper-card>
          <template is="dom-repeat" items="[[imagesList]]" as="imageSrc">
            <template is="dom-if" if="[[_isEqual(activeImg, index)]]">
              <img src="[[imageSrc]]" alt="[[imageSrc]]">
            </template>
          </template>
        </paper-card>
        <paper-icon-button icon="arrow-forward" on-click="_changeModalRight"></paper-icon-button>
      </section>
  </template>
  <script>
    (function carrouselElement(customElements) {
      'use strict';

      class CarrouelElement extends Polymer.Element {
        static get is () { return 'carrousel-element'};
        static get properties() {
          return {
            imagesList: {
              type: Array,
              value: ['/img/jpg/CA.jpg','/img/jpg/CB.jpg','/img/jpg/JK.jpg','/img/jpg/MAR.jpg','/img/jpg/MB.jpg','/img/jpg/MH.jpg','/img/jpg/MR.jpg','/img/jpg/NF.jpg','/img/jpg/PO.jpg',
              '/img/jpg/RB.jpg','/img/jpg/SP.jpg','/img/jpg/TH.jpg']
            },
            activeImg: {
              type: Number,
              value: 0
            },
            posicion:{
              type: Number,
              value:0
            }
          }
        }
        _isEqual(activeImg, index) {
          return activeImg == index
        }
        _changeModalLeft() {
          if (this.activeImg == 0) {
            this.posicion= this.activeImg;
            return;
          } else {
            this.activeImg = this.activeImg - 1;
            this.posicion=this.activeImg;
          }
        }
        _changeModalRight() {
          let arrayLenght = this.imagesList.length
          if (this.activeImg == arrayLenght - 1) {
            this.posicion=this.activeImg;
            return;
          } else {
            this.activeImg = this.activeImg + 1;
            this.posicion=this.activeImg;
          }
        }
      }

      window.customElements.define(CarrouelElement.is, CarrouelElement);
    })(window.customElements);
  </script>

</dom-module>
