<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/app-layout/app-scroll-effects/effects/waterfall.html">

<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="/bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/bower_components/polymerfire/polymerfire.html">


<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="contact-card.html">
<link rel="import" href="contact-panel.html">


<dom-module id="contacts-app">
  <template>
    <firebase-app
    name="agenda"
    auth-domain="agenda-8f2a1.firebaseapp.com"
    database-url="https://agenda-8f2a1.firebaseio.com"
    api-key="AIzaSyC_BeuhOMKCKOtm8nvY1UVBgrGRlSdzSxQ"
    storage-bucket="agenda-8f2a1.appspot.com"
    messaging-sender-id="538212245985">
  </firebase-app>




  <!-- <firebase-document
    path = " /agendapolymer"
     data = " {{prueba}} " >
  </ firebase-document > -->

  <firebase-query
    id="query"
    app-name="agenda"
    path="/contactos"
    data="{{listacontacto}}">
</firebase-query>




    <style>

    app-header {

      background-color: #1A5276;
      color: #fff;


    }
    paper-icon-button {
      --paper-icon-button-ink-color: white;
    }
    .title {
      font-size: 30px;
      font-weight: bold;
      font-family: 'Georgia', 'Times New Roman', 'serif';
      text-align:center;
      animation-duration: 1s;
      animation-name: slidein;
      animation-iteration-count: 3;
      animation-direction: alternate;
    }
    @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

    app-drawer-layout:not([narrow]) [drawer-toggle] {
      display: none;
    }
    app-toolbar {
      text-align: center;
    }
    paper-button {
      background-color: #4785d1;
      color: white;
      height: 70px;
      margin: 30px 20px 0 10px;
      width: 50%;
    }

    paper-dialog {
      padding: 5px 60px;
    }
    .scroll-contacts {
      height: 100%;
      overflow: auto;
    }

    #dialog{
      text-align:center;
      max-width:500px;
      max-height:700px;
      height:100%;
      width:80%

    }
    </style>




    <app-drawer-layout>
      <app-header-layout>
        <app-header slot="header" reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div class="title" main-title>Agenda</div>

            <p>Nuevo Contacto<paper-icon-button icon="add-box" raised on-click="_openDialog" ></paper-icon-button></p>
          </app-toolbar>

        </app-header>
      </app-header-layout>


        <app-toolbar>Tus Contactos</app-toolbar>
        <!-- en esta parte seccion se carga la informacion del contacto -->

        <div class="scroll-contacts">
          <template is="dom-repeat" items="{{listacontacto}}" as="contact">
            <contact-card on-edita="updateContact"  on-elimina="remove"
                          id-contacto='{{contact.$key}}'
                          nombre-contacto='{{contact.name}}'
                          correo-contacto='{{contact.mail}}'
                          telefono-contacto='{{contact.phone}}'
                          is-contacto='{{contact.is}}'
                          notas='{{contact.note}}'
                          avatar='{{contact.img}}'>
            </contact-card>

          </template>
        </div>

    </app-drawer-layout>



    <paper-dialog id="dialog"
      <paper-dialog-scrollable>
        <h2>Nuevo Contacto</h2>
        <carrousel-element id=carrousel></carrousel-element>
        <paper-input id="name" label="Nombre" value="{{name}}"auto-validate pattern="[a-zA-Z]*"error-message="Solo letras!" char-counter maxlength="15" required>
          <iron-icon icon="face" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="phone" label="Telefono" value="{{phone}}" auto-validate pattern="[0-9]" error-message="Ingrese solo numeros!"  required>
          <iron-icon icon="settings-phone" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="is" label="Is" value="{{is}}" char-counter maxlength="4"  required>
          <iron-icon icon="room" slot="prefix"></iron-icon>
        </paper-input>
      <paper-input id="mail" label="Correo" value="{{mail}}" pattern='^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$' required>
        <iron-icon icon="account-balance" slot="prefix"></iron-icon>
      </paper-input>
      <paper-input id="note" label="Notas" value="{{note}}" required>
        <iron-icon icon="assignment" slot="prefix"></iron-icon>
      </paper-input>
      <paper-button raised on-click="_newContact">Añadir Contacto</paper-button>
     </paper-dialog-scrollable>
    </paper-dialog>
  </template>


  <script>
    (function ContactsApp(customElements) {
      'use strict';
      class ContactsApp extends Polymer.Element {


        static get is() {
          return 'contacts-app';
        }
        static get properties() {
          return {

            name:{
              type:String,
              notify:true,
              value:""
            },
            phone:{
              type:String,
              notify:true,
              value:""
            },
            is:{
              type:String,
              notify:true,
              value:""
            },
            mail:{
              type:String,
              notify:true,
              value:""
            },

            note:{
              type:String,
              notify:true,
              value:""
            },
            img:{
              type:String,
              notify:true,
              value:''
            },

            imagesList: {
              type: Array,
              value: ['/img/jpg/CA.jpg','/img/jpg/CB.jpg','/img/jpg/JK.jpg','/img/jpg/MAR.jpg','/img/jpg/MB.jpg','/img/jpg/MH.jpg','/img/jpg/MR.jpg','/img/jpg/NF.jpg','/img/jpg/PO.jpg',
              '/img/jpg/RB.jpg','/img/jpg/SP.jpg','/img/jpg/TH.jpg']
            },

            newContact: {
              type: Object,
              readOnly:true,
              notify: true,
              value:{
                name:'{{this.name}}',
                phone:'{{this.phone}}',
                is:'{{this.is}}',
                mail:'{{this.mail}}',
                note:'{{this.note}}',
                img:'{{this.img}}',
              }
            },
            listacontacto:{
              type:Object,
              observer:'dataChanged'
            },
            key:{
              type:String,
              value:' '
            }

          };
        }

        _openDialog() {
          this.$.dialog.open()

        }


        _newContact() {

          this.newContact.name = this.$.name.value;
          this.newContact.phone = this.$.phone.value;
          this.newContact.is = this.$.is.value;
          this.newContact.mail = this.$.mail.value;
          this.newContact.note = this.$.note.value;
          this.newContact.img = this.imagesList[this.$.carrousel.posicion]
          // console.log(this.newContact);
          this.$.query.ref.push(this.newContact);
          this.$.name.value = "";
          this.$.phone.value = "";
          this.$.is.value = "";
          this.$.mail.value="";

          this.$.note.value="";
          this.$.dialog.close();



        }
        dataChanged(newData, oldData) {

          // console.log(newData);
          // console.log("2222" + oldData);
  }



        updateContact(e) {

            this.$.query.ref.child(e.detail.id).update(e.detail);



        }

        remove(e){



          this.$.query.ref.child(e.detail.id).remove();

        }




      }



      customElements.define(ContactsApp.is, ContactsApp);
    })(window.customElements);


  </script>

</dom-module>
