<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="info-contacto.html">
<link rel="import" href="edita-contacto.html">
<dom-module id="contact-card">
  <template>
    <style>
      paper-card {
        border-radius:15px;
        color: #1A5276;
        cursor: pointer;
        margin: 10px 2px 0 0;
        height: 200px;
        max-width:320px;
        text-align: left;
        width: 98%;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      }
      #editar_contacto{
        max-width:400px;
        max-height:450px;
        min-width:500px;
        width:100%;
        height:100%;
      }
      paper-dialog{;
        min-width:500px;

      }
      p {
        margin: 0;
        padding: 0 20px;
      }
      .rate-image {
        border-radius:15px;
        position: absolute;
        top: 0;
        right: 0px;
        left:174px;
        bottom: 0;
        max-width:128px;
        width: 100%;
        background-size: cover;
      }

      paper-card:hover{
        -webkit-animation: ring 1s  ease-in-out;
        -webkit-transform-origin: 30% 4px;
        -moz-animation: ring 1s  ease-in-out;
        -moz-transform-origin: 30% 4px;
        animation: ring 1s  ease-in-out;
        transform-origin: 30% 4px;
      }

      img{
        width:100%;
        height:100%;
      }
  @-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
  }

  @-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
  }

  @keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }
  paper-dialog{
    border-radius:15px;
  }
    </style>
    <paper-card heading="[[nombreContacto]]" raised on-click="abrir">
      <div class="rate-image">
        <img src="[[avatar]]">
      </div>
      <p>[[telefonoContacto]]</p>
      <br>
      <p>[[isContacto]]</p>
      <paper-ripple></paper-ripple>
    </paper-card>
    <!-- Dialogo donde se muestra la informacino completa del contacto -->
    <paper-dialog id="informacionContacto">
      <h2>Informacion contacto</h2>
      <paper-dialog-scrollable>
        <info-contacto id-contacto='[[idContacto]]'
                      nombre-contacto='[[nombreContacto]]'
                      correo-contacto='[[correoContacto]]'
                      telefono-contacto='[[telefonoContacto]]'
                      is-contacto='[[isContacto]]'
                      notas='[[notas]]'
                      avatar='[[avatar]]'>
        </info-contacto>
      </paper-dialog-scrollable>
      <custom-style>
      <style is="custom-style">
        paper-icon-button.giant {
          align:center;
          width: 100px;
          height: 100px;
        }
      </style>
      </custom-style>
      <paper-icon-button icon="create" title="EDITAR" class="giant"  style='color:#c9b100;' on-click='editar_open' dialog-confirm></paper-icon-button>
      <paper-icon-button icon="delete" title="BORRAR" class="giant" style='color:red;'on-click='borrar_confirm' dialog-confirm></paper-icon-button>
    </paper-dialog>
    <!-- FIN Dialogo donde se muestra la informacino completa del contacto -->

    <!-- Dialogo que muestra la confimacion para eliminar el contacto-->
    <paper-dialog id="confirmacionBorrar">
      <h2>CUIDADO!!!!!!</h2>
      <p>ESTAS A PUNTO DE ELIMINAR UN CONTACTO</p>
      <p>ESTAS SEGURO DE QUE DESEAS ELMININARLO???</p>
      <paper-icon-button icon="check" title="ELIMINAR" class="giant"  style='color:#4caf50;' on-click='elimina' dialog-confirm></paper-icon-button>
      <paper-icon-button icon="cancel" title="CANCELAR" class="giant" style='color:red;' dialog-dismiss></paper-icon-button>
    </paper-dialog>
    <!--FIN Dialogo que muestra la confimacion para eliminar el contacto-->

    <!-- dialogo que muestra el formulario para editar la informacion del contacto -->
    <paper-dialog id="editar_contacto">
      <h2>Editar Contacto</h2>
      <edita-contacto id-contacto='[[idContacto]]'
                      nombre-contacto='[[nombreContacto]]'
                      correo-contacto='[[correoContacto]]'
                      telefono-contacto='[[telefonoContacto]]'
                      is-contacto='[[isContacto]]'
                      notas='[[notas]]'
                      avatar='[[avatar]]'>
      </edita-contacto>
    </paper-dialog>
  </template>
  <script>

      class ContactCard extends Polymer.Element{
        static get is() {
          return 'contact-card';
        }
        static get properties() {
          return {
            idContacto:{
              type:String,
              value:''
            },
            nombreContacto:{
              type:String,
              value:'',
              notify:true,
            },
            correoContacto:{
              type:String,
              value:'',
              notify:false,
            },
            telefonoContacto:{
              type:String,
              value:'',
              notify:false,
            },
            isContacto:{
              type:String,
              value:'',
              notify:false,
            },
            notas:{
              type:String,
              value:'',
              notify:false,
            },
            avatar:{
              type:String,
              value:'',
              notify:false,
            }
          };
        }
        abrir(){
          this.$.informacionContacto.open();
        }
        borrar_confirm(){
          this.$.confirmacionBorrar.open();
        }

        editar_open(){
          this.$.editar_contacto.open();
        }
        testing(nombre){
          console.log(nombre);
        }
        elimina(){//evento que devolvera los valores para poder editar la informacion
          var objetoId={
            bubbles:true,
            composed:true,
            detail:{
              id:this.idContacto
            }
          }
          this.dispatchEvent(new CustomEvent('elimina', objetoId));
        }
      }
      window.customElements.define(ContactCard.is, ContactCard);
  </script>

</dom-module>
