<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<dom-module id="edita-contacto">
  <template>

    <div class="container">
      <paper-input label="Nombre" value="{{nombreContacto}}"> <!--restringir a solo nombre y apellido -->
          <iron-icon icon="face" slot="prefix"></iron-icon>
      </paper-input>

      <paper-input label="Telefono" value="{{telefonoContacto}}">
        <iron-icon icon="settings-phone" slot="prefix"></iron-icon>
      </paper-input>

      <paper-input  label="Correo" value="{{correoContacto}}">
        <iron-icon icon="mail" slot="prefix"></iron-icon>
      </paper-input>

      <paper-input label="IS" value="{{isContacto}}">
        <iron-icon icon="account-balance" slot="prefix"></iron-icon>
      </paper-input>

      <paper-input label="Notas" value="{{notas}}">
        <iron-icon icon="assignment" slot="prefix"></iron-icon>
      </paper-input>
      <paper-button  on-click="evento_editar" dialog-confirm>Guardar Cambios</paper-button>
      <paper-button  dialog-dismiss>Cancelar</paper-button>
    </div>
  </template>
  <script>
      'use strict';
        class EditaContacto extends Polymer.Element{
          static get is(){return 'edita-contacto'}

          static get properties(){
            return {
              idContacto:{
                type:String,
                value:''
              },
              nombreContacto:{
                type:String,
                value:'',
                notify:false,
              },
              correoContacto:{
                type:String,
                value:'',
                notify:false,
              },
              telefonoContacto:{
                type:String,
                value:'',
                notify:false,
              },
              isContacto:{
                type:String,
                value:'',
              },
              notas:{
                type:String,
                value:'',
                notify:false,
              },
              avatar:{
                type:String,
                value:'',
                notify:false,
              }
            }
          }
          evento_editar(){//evento que devolvera los valores para poder editar la informacion
            var objectevent={
              bubbles:true,
              composed:true,
              detail:{
                id:this.idContacto,
                name:this.nombreContacto,
                phone:this.telefonoContacto,
                is:this.isContacto,
                mail:this.correoContacto,
                note:this.notas
              }
            }
            this.dispatchEvent(new CustomEvent('edita', objectevent));
          }
        }
        window.customElements.define(EditaContacto.is, EditaContacto)

  </script>

</dom-module>
