<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<dom-module id="info-contacto">
  <template>
  <style>
    paper-card{
      display:flex;
      flex-flow:row wrap;
      align-items:center;
      max-width:500px;
      max-height:400px;
      min-width:500px;
      min-height:400px;
      width:100%;
      height:100%;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

  </style>
  <paper-card>
    <div class="imagen">
      <img src="[[avatar]]" height="260px" width="150px">
    </div>
    <div class="card-content">
        <iron-icon icon="account-box"></iron-icon>
        <p>[[nombreContacto]]</p>
        <p>[[isContacto]]</p>
        <iron-icon icon="mail"></iron-icon>
        <p>[[correoContacto]]</p>
        <iron-icon icon="home"></iron-icon>
        <p>[[telefonoContacto]]</p>
        <iron-icon icon="speaker-notes"></iron-icon>
        <p>[[notas]]</p>
    </div>
  </paper-card>
  </template>
  <script>
    (function contactCard(customElements) {
      'use strict';
        class TarjetaContacto extends Polymer.Element{
          static get is(){return 'info-contacto'}

          static get properties(){
            return {
              idContacto:{
                type:String,
                value:''
              },
              nombreContacto:{
                type:String,
                value:'',
                notify:false,
              },
              correoContacto:{
                type:String,
                value:'',
                notify:false,
              },
              telefonoContacto:{
                type:String,
                value:'',
                notify:false,
              },
              isContacto:{
                type:String,
                value:'',
              },
              notas:{
                type:String,
                value:'',
                notify:false,
              },
              avatar:{
                type:String,
                value:'',
                notify:false,
              }
            }
          }
        }
        window.customElements.define(TarjetaContacto.is, TarjetaContacto)
    })(window.customElements)
  </script>

</dom-module>
